/* 37.125 is exact, however the 0.125 seems to be ignored. */
@page {
    width: 70mm;
    height: 37.125mm;
}
.label {
    padding: 7.0mm;
    font-family: "LiberationSerifRegular", Verdana;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;
    font-size:12px;
}
